
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# MacOS
.DS_Store

# Data files
*.csv
*.xlsx
*.xls

# Figures
*.png
*.jpg

# Python cache
.cache/
# claude
.claude
CLAUDE.md

data/*
!data/.gitkeep

doc/*
!doc/.gitkeep

